<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Top menu item -->
    <menuitem id='menu_pedidos' name='Pedidos' sequence="235"  web_icon="pedidos,static/description/cart_icon.png.png">
        <menuitem name="My Pedidos" id="menu_pedidos_title" sequence="50">
            <menuitem name="New Order" id="pedidos_order_menu_form" action="pedidos.product_product_action_order_pedidos" sequence="1"/>
            <!-- <menuitem name="My Order History" id="pedidos_order_menu_tree" action="pedidos.pedidos_order_action" sequence="2"/> -->
            <menuitem name="Request Pedidos" id="request_pedidos_menu" action="pedidos.pedidos_request_action" sequence="3"/>
        </menuitem>
        <menuitem id="menu_pedidos_report"
            name="Reporting"
            action="pedidos.pedidos_request_graph_action"
            sequence="51"/>
    </menuitem>
</odoo>
