.pedidos_topping:before {
    content: '+ ';
}

.o_pedidos_content {
    .o-autocomplete--input {
        cursor: pointer;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    width: 30px;
    height: 20px;
    margin-bottom: 2px;
}
input[class=pedidos_note]{
    width: 100px;
    display: inline-table;
    margin-left: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #b3acacde;
}

input[class=order_note]{
    border-top: 0;
    margin-top: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}
.uom_pro{
    margin-left: 2px;
    margin-right: 2px;
}
.btn_mrg{
    margin-top: 3px;
}
